body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fefae0;
    font-family: 'Hachi Maru Pop', cursive;

}

/* header */
header {
    background-color: #ccd5ae;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    font-size: 45px;
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
    z-index: 9999;
}


/* header裡面的圖案 */
.logopng {
    position: absolute;
    left: 20px;
    top: 2px;
}

.cartpng {
    position: absolute;
    top: 10px;
    right: 100px;
}

.userpng {
    position: absolute;
    top: 10px;
    right: 10px;
}

.search {
    position: absolute;
    left: 150px;
    top: -5px;
    
}

.search input {
    padding: 0px 100px 0 0;
    font-size: 22px;
    border: 5px solid goldenrod;
    border-radius: 10px;
    font-family: 'Hachi Maru Pop', cursive;

}

.search input:focus{
    border-color: lightgreen;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)

}


.search button:hover{
    background-color: lightgreen;
}

.search button{
    font-family: 'Hachi Maru Pop', cursive;
}

/*月讀*/
.eyes img{
    margin-left: 80%;
}

.grayscale {
    filter: grayscale(100%);
}




/*購物車測試*/

header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 1px 10px;
    font-size: 22px;
    
}

.card{
    position: fixed;
    top:0;
    left: 100% ;
    width: 500px;
    background-color:#f5f7df;
    height: 100vh;
    transition: 0.5s;
    z-index: 10000;
   
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card .checkOut2{
    position: absolute;
    bottom: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}
.card .checkOut div{
    background-color: #1baf32;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut2 div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
   
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

.total a{
    text-decoration: none;
}

.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #000000;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: rgba(20, 20, 20, 0.333);
    border: none;
}
.listCard .count{
    margin: 0 10px;
}


/* nav */
nav {
    position: fixed;
    top: 75px;
    width: 100%;
    background-color: #d4a373;
    text-align: center;
    z-index: 9999;
}

nav a {
    padding: 14px 16px;
    display: inline-block;
    color: white;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white;
    text-decoration: none;
}

nav a:hover {
    background-color: #fab743;
    color: rgb(22, 48, 65);
}



section{
    margin-top: 150px;
    margin-left: 10%;
    width: 80%;
    height: 700px;
    background-color: rgb(64, 156, 99);
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  
}

h1{
    font-size: 50px;
    text-align: center;
}

form {
    font-size: 33px; 
}

form label, form input, form textarea, form input[type="submit"] {
    font-size: 33px; 
}

footer {
	margin-top: 100px;
	width: 100%;
    height: 35px;
    background-image: url(image2/smoke.gif);
    background-color: rgb(110, 147, 196);
    text-align: center;
}